<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="504818718989-cpm7gtj8bjncqbjl3gp65tpdhj4uhman.apps.googleusercontent.com">
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
      document.querySelector('#signOutBtn').setAttribute('disabled',true)
    });
    auth2.disconnect();

    buttonSet(false)        
    document.querySelector('section.excelUp').style.display = 'none';
    document.querySelector('section.excelDown').style.display = 'none';
    
  }
</script>
<script>
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  // console.log('Name: ' + profile.getName());
  // console.log('Image URL: ' + profile.getImageUrl());
  // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

  var id_token = googleUser.getAuthResponse().id_token;
  buttonSet(true)
  // document.querySelector('section.excelUp').style.display = 'inline';
  document.querySelector('section.excelDown').style.display = 'inline';
  document.querySelector('#signOutBtn').removeAttribute('disabled')
}

</script>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<button id="signOutBtn" disabled onclick="signOut();">Sign out</button>

